* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  .bar{
  background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  padding: 31px 83px;
  height: 94px;

  }
  li{
    display: flex;
  align-items: center;
  gap: 36px;
  list-style: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-left: 10px;
  }
  nav ul{
    display: flex;
    align-items: 10px;
    gap:30px;
    font-weight:500 ;
    color: white;
}
.d {
        width: 1px;
        height: 50px;
        background-color: #fff;
        margin-right: 0px;
      }
      .button {
        padding: 7px 28px;
        background: blue;
        border-radius: 6px;
        border: none;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color:white;
        cursor: pointer;
      }
.photo{
    background-image: url("../../assets/images/bg.png");
  background-size: cover;
  background-attachment: fixed;
  height: 531px;
  text-align: center;
  
}

  
  .hero-heading {
    max-width: 846px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 98px;
    text-align: center;
    color: #ffffff;
    padding-top: 172px;
  }
  
  .hero-description {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: #ffffff;
  }
  
  .button-large {
    background: #ba0cc5;
    border-radius: 11.23px;
    font-family: "Poppins";
   
    font-size: 28px;
    line-height: 45px;
    color: #ffffff;
    border: none;
    padding: 14px 22px;
    margin-top: 24px;
    cursor: pointer;
  }