<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <section>
            <nav class="bar">
                <div class="im">
                    <img src="https://github.com/pwlive/fullstackwebdevelopment/blob/main/Assignment_03(HTML+CSS)/assets/white-logo.png?raw=true" alt="logo" width="80px" height="80px">
                </div>
                <div class="d"></div>
                <ul>
                    <li>App</li>
                    <li>DAO</li>
                    <li>Technology</li>
                    <li>Token</li>
                    <li>Contributors</li>
                </ul>

                <div>
                    <button class="button">Buy 1 token</button>
                </div>
            </nav>
        </section>
    </div>
    <div class="photo">
        <section aria-label="hero">
            <div class="hero"><b>
              <h1 class="hero-heading">Lets build a better <br> tomorrow, together.</h1>
              <p class="hero-description">
                Buy 1 Token. Join the DAO. Change the world
              </p>
            </b>
              <button class="button-large">Request Early Access</button>
            </div>
          </section>
    </div>
   
</body>
</html>